@keyframes sfq_suofang {
    from {
       background-size: 1314px 720px;
    }
    to {
        background-size: 1241px  680px;
    }
  }

  
/* @keyframes huajuan {
    to {
      max-width: 950px;
    }
  } */
  