.jump-ul{
    padding-top: 100px;
    background-color: rgb(241,243,245);
}
.jump-ul ul {
    list-style-type: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.jump-ul li {
    float: left;
    padding-left: 28px;
    padding-right: 28px;
}

.jump li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* 当鼠标悬停时把链接颜色更改为 #111（黑色） */
.jump li a:hover {
    background-color: #111;
}
.jump-span {
    padding-top: 4px;
}
.back{
    border-style:none none solid none;
}
.jump-back{
    margin-top: 8px;

}